<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mortgage Masters</title>

	<link rel="shortcut icon" href="static/images/loan_icon.jpg">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="static/css/inito_styles.css">
  <link rel="stylesheet" href="static/css/basic_style.css">


	<!--[if lt IE 9]> <script src="static/js/inito_html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax data-head" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="static/images/data_icon.png" alt="">
			<span class="title">About the Data</span>
			<span class="tagline">Diving Into the Data Used to Train the Model:<br>
				<p>Glossary and Tables</p></span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="..">Home</a></li>
					<li class="active"><a href="#"><a href="data">Data</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">
	<div class="container">
		<h2 class="section-title"><span>Glossary</span></h2>
		<ul class="glossary">
			<li><b>Married</b> - Marital status of the individual applicant</li>
			<li><b>Dependents</b> - Applicant's number of legal dependents</li>
			<li><b>Education</b> - Signifies whether the applicant has earned a college degree</li>
			<li><b>Self Employed</b> - Applicant works for independently rather than an employer</li>
			<li><b>Applicant Income</b> - Applicant's monthly income</li>
			<li><b>Coapplicant Income</b> - Coapplicant's monthly income (if applicable)</li>
			<li><b>Loan Amount</b> - The principal of the loan (in $ thousands)</li>
			<li><b>Loan Amount Term</b> - The number of terms (in months)</li>
			<li><b>Credit History</b> - Signifies whether the applicant has a credit score above 640</li>
			<li><b>Property Area</b> - The development level of the area the applicant plans to purchase</li>
			<li><b>Loan Status</b> - Signifies whether the loan was approved or denied</li>
    </ul>
    <h2 class="section-title"><span>Choose a dataset</span></h2>
		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-12 col-md-1">
				</div>
				<div class="col-sm-12 col-md-11">
					<button type="button" id="trainDataButton" class="btn btn-primary"><b>Raw Data</b></button>
					<button type="button" id="cleanDataButton" class="btn btn-primary"><b>Clean Data</b></button>
				</div>
			</div>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
						<th>Married</th>
						<th>Dependents</th>
						<th>Education</th>
						<th>Self Employed</th>
						<th>Applicant Income</th>
						<th>Coapplicant Income</th>
						<th>Loan Amount</th>
						<th>Loan Amount Term</th>
						<th>Credit History</th>
						<th>Property Area</th>
						<th>Loan Status</th>
          </tr>
        </thead>
        <tbody>
      	</tbody>
      </table>
    </div>
		<div class="row section clients topspace">
			<h2 class="section-title"><span>Contributors</span></h2>
			<div class="col-lg-3">
				<h4>
					Bharathy Natarajan
				</h4>
        <p>
          <b> Connect: </b> <br />
          <a href="https://www.linkedin.com/in/bharathynatarajan/" target="_blank">
            LinkedIn
          </a> <br />
          <a href="https://github.com/bharnats" target="_blank">
            GitHub
          </a>
        </p>
			</div>
			<div class="col-lg-3">
				<h4>
					Mark Groner
				</h4>
        <p>
          <b> Connect: </b> <br />
          <a href="https://www.linkedin.com/in/mark-groner/" target="_blank">
            LinkedIn
          </a> <br />
          <a href="https://github.com/markgroner" target="_blank">
            GitHub
          </a>
        </p>
			</div>
			<div class="col-lg-3">
				<h4>
					Prakash Tendolkar
				</h4>
        <p>
          <b> Connect: </b> <br />
          <a href="https://www.linkedin.com/in/prakashtendolkar/" target="_blank">
            LinkedIn
          </a> <br />
          <a href="https://github.com/ptendolkar1" target="_blank">
            GitHub
          </a>
        </p>
			</div>
			<div class="col-lg-3">
				<h4>
					David Jones
				</h4>
        <p>
          <b> Connect: </b> <br />
          <a href="https://www.linkedin.com/in/david-w-jones-atx/" target="_blank">
            LinkedIn
          </a> <br />
          <a href="https://github.com/davidwjones" target="_blank">
            GitHub
          </a>
        </p>
			</div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>


<footer id="underfooter">
	<div class="container">
		<div class="row">


			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>
						<b>University of Texas at Austin</b><br>
						Data Analytics and Visualization Program
					</p>

				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Design: <a href="http://www.gettemplate.com" rel="designer" target="_blank">Initio by GetTemplate</a>
					</p>
				</div>
			</div>


		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.full.js"></script>
<script src="static/js/inito_template.js"></script>
<script src="static/js/data.js"></script>
</body>
</html>
