<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="shortcut icon" href="static/images/loan_favicon.jpg">

	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="static/css/inito_styles.css">

	<!--[if lt IE 9]> <script src="static/js/inito_html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="static/images/loan_icon.jpg" alt="">
			<span class="title">Mortgage Masters</span>
			<span class="tagline">Predicting Loan Grades with Neural Network:<br>
				<p>A Machine Learning Pipeline</p></span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li class="active"><a href="inito">Home</a></li>
					<li><a href="data"></a>Data</li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<div class="container">

		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">
					Dream Housing Finance company deals in all home loans. They have presence
					across all urban, semi urban and rural areas. Customer first apply for
					home loan, after that company validates the customer eligibility for loan.
					<br />
					<br />
					The company wants to automate the loan eligibility process (real time)
					based on customer detail provided while filling online application form.
				</p>
			</div>
		</div> <!-- / section -->

		<div class="row section featured topspace">
			<h2 class="section-title"><span>Try it out</span></h2>
			<div class="container">
	      <div class="jumbotron">
	        <div class="row">
	          <div class="column col-sm-12 col-md-4">
	            <form id="mortgage-form">
	              <div class="form-group">
	                <label for="Married"> Marital Status</label>
	                <select class="form-control" id="Married">
	                  <option value="1">Married</option>
	                  <option value="0">Single</option>
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="Dependents"> Number of Dependents</label>
	                <select class="form-control" id="Dependents">
	                  <option value="0">0</option>
	                  <option value="1">1</option>
	                  <option value="2">2</option>
	                  <option value="3">3 or more</option>
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="Education"> College Degreee</label>
	                <select class="form-control" id="Education">
	                  <option value="1">Yes</option>
	                  <option value="0">No</option>
	                </select>
	              </div>
	            </div>
	            <div class="column col-sm-12 col-md-4">
	              <div class="form-group">
	                <label for="Self_Employed"> Self Employed</label>
	                <select class="form-control" id="Self_Employed">
	                  <option value="0">No</option>
	                  <option value="1">Yes</option>
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="ApplicantIncome">Applicant Income ($)</label>
	                <input type="number" class="form-control" id="ApplicantIncome"> <!-- placeholder="name@example.com" -->
	              </div>
	              <div class="form-group">
	                <label for="CoapplicantIncome">Coapplicant Income ($)</label>
	                <input type="number" class="form-control" id="CoapplicantIncome"> <!-- placeholder="name@example.com" -->
	              </div>
	            </div>
	            <div class="column col-sm-12 col-md-4">
	              <div class="form-group">
	                <label for="LoanAmount">Loan Amount ($)</label>
	                <input type="number" class="form-control" id="LoanAmount"> <!-- placeholder="name@example.com" -->
	              </div>
	              <div class="form-group">
	                <label for="Loan_Amount_Term">Loan Amount Term</label>
	                <input type="number" class="form-control" id="Loan_Amount_Term"> <!-- placeholder="name@example.com" -->
	              </div>
	              <div class="form-group">
	                <label for="Credit_History"> Credit score over 640? </label>
	                <select class="form-control" id="Credit_History">
	                  <option value="1">Yes</option>
	                  <option value="0">No</option>
	                </select>
	              </div>
	            </div>
						</div>
						<div class="row">
	            <div class="column col-sm-12 col-md-4">
	              <div class="form-group">
	                <label for="Property_Area"> Property Area</label>
	                <select class="form-control" id="Property_Area">
	                  <option value="0">Urban</option> <!-- 0 -->
	                  <option value="1">Semiurban</option> <!-- 1 -->
	                  <option value="2">Rural</option> <!-- 2 -->
	                </select>
	              </div>
							</div>
							<div class="column col-sm-12 col-md-4">
							</div>
							<div class="column col-sm-12 col-md-4">
	              <button type="button" id="mortgage-submit" class="btn btn-primary">Submit</button>
	            </div>
						</div>
	        </form>
	      </div>
	      <div class="row">
	        <div class="column col-xs-12">
	          <h2 id="model-classificaion"> Enter your data and hit submit </h2>
	        </div>
	      </div>
	    </div>
		</div> <!-- / section -->

		<div class="row section recentworks topspace">

			<h2 class="section-title"><span>Training Data Analysis</span></h2>

			<div class="thumbnails recentworks row">

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Sample title - big data solutions</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Pure ipsum - development services for people</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Lorem studios - interior and patio design</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Pure ipsum - development services for people</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Lorem studios - interior and patio design</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="static/images/s1.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Lorem studios - interior and patio design</span>
					</a>
					<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
					<h4></h4>
					<p></p>
				</div>
			</div>

		</div> <!-- /section -->

		<div class="row section topspace">
			<div class="panel panel-cta"><div class="panel-body">
				<div class="col-lg-8">
					<p> An entire analysis of the data was performed in Tableau. <br />
						Click the button on the right for an interactive look at these charts and more! </p>
				</div>
				<div class="col-lg-4 text-right">
					<a href="https://public.tableau.com/profile/bharathy7744#!/vizhome/MortgageMasters/MortgageMasters " target="_blank" class="btn btn-primary btn-lg">
						See more chart
					</a>
				</div>
			</div></div>
		</div> <!-- /section -->

		<div class="row section clients topspace">
			<h2 class="section-title"><span>Contributors</span></h2>
			<div class="col-lg-3">
				<h4>
					Bharathy Natarajan
				</h4>
			</div>
			<div class="col-lg-3">
				<h4>
					Mark Groner
				</h4>
			</div>
			<div class="col-lg-3">
				<h4>
					Prakash Tendolkar
				</h4>
			</div>
			<div class="col-lg-3">
				<h4>
					David Jones
				</h4>
			</div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>


<footer id="underfooter">
	<div class="container">
		<div class="row">


			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>
						<b>University of Texas at Austin</b><br>
						Data Analytics and Visualization Program
					</p>

				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a>
					</p>
				</div>
			</div>


		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="static/js/inito_template.js"></script>
</body>
</html>
