
.mortgage-submit-refresh {
  padding-top: 35px;
  padding-left: 30px;
}

#model-classificaion-text {
  padding-top: 35px;
}


.analysis-text {
  padding-top: 35px;
}


.mortage-head {
  background: #f4f4f4 url(../images/mortgage_header.jpg) top center;
}

.data-head {
  background: #f4f4f4 url(../images/data_header.jpg) top center;
}
